<nav class="navbar navbar-expand-lg fixed-top" th:fragment="navFragment">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item" th:unless="${isAuthenticated}">
                        <a class="nav-link" href="/login">Log in</a>
                    </li>
                    <li class="nav-item" th:unless="${isAuthenticated}">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    
                    <li class="nav-item dropdown" th:if="${isAuthenticated}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                            <span th:text="${username}">Username</span> <!-- Nombre del usuario -->
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="/logout" method="POST" style="display: inline;">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                                    <button type="submit" class="dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Action
                        </a>
                        <ul class="dropdown-menu">
                            <li th:if="${roles != null && roles.contains('ROLE_ADMIN')}">
                                <a class="dropdown-item" href="/users/list">Read</a>
                            </li>
                            <li th:if="${roles != null && roles.contains('ROLE_USER')}">
                                <a class="dropdown-item" href="/users/myinfo">Read</a>
                            </li>
                            <li><a class="dropdown-item" href="/updateUser/update">Update</a></li>
                            <li th:if="${roles != null && roles.contains('ROLE_ADMIN')}">
                                <a class="dropdown-item" href="/delete/userDelete">Delete</a>
                            </li>
                        </ul>
                      </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
